$color-primary: #303f9f;
$color-primary-light: #3F51B5;
$color-secondary: #4caf50;
$color-text: #666;
$color-white: #fff;

/*
 * Brand Colors
*/

$color-facebook: #3b5998;
$color-instagram: #3f729b;
$color-linkedin: #0077b5;
$color-google: #4285f4;
$color-google-plus: #dd4b39;
$color-twitter: #1da1f2;
$color-behance: #1769ff;
$color-dribbble: #444;
$color-github: #4183c4;
$color-skype: #00aff0;
