#contact {
  background: linear-gradient(rgba(245, 245, 245, 0.9), rgba(245, 245, 245, 0.9)), url("../img/content/contact.jpg");
  background-size: cover;
  color: $color-primary;

  .btn-default {
    margin-top: 20px;
  }

  h2 {
    margin-top: 80px;
    margin-bottom: 20px;
  }

  p {
    font-size: 110%;
  }

  .social {
    position: absolute;
    bottom: 150px;
    font-size: 300%;

    a:hover {
      color: #2B4450;
    }

    i {
      margin-right: 30px;
    }
  }

  .copyright {
    position: absolute;
    bottom: 50px;
  }

  


}
