@media screen and (max-width: 1290px) {
  #home {
    .welcome {
      font-size: 400%;
    }
  }

  #about {
    .desc {
      font-size: 150%;
    }
  }
}

@media screen and (max-width: 1150px) {
  .nav {
    a {
      margin-left: 20px;
    }
  }
}

@media screen and (min-width: 992px) and (max-width: 1185px) {
  #about {
    .desc-about {
      width: 88%;
    }
    .skills {
      width: 80%;
    }

  }
}

@media screen and (max-width: 960px) {
  #home {
    .welcome {
      font-size: 350%;
      margin-top: 20%;
    }
  }

  #about {
    .col-sm-10 {
      padding-left: 50px;
    }
  }
}



@media screen and (max-width: 850px) {

  .nav {
    display: none;
  }
  #about {
    .desc {
      font-size: 140%;
    }

  }

  /* MENI */
}

@media screen and (max-width: 768px) {
  #about {
    .col-sm-10 {
      padding-left: 15px;
    }

    .desc {
      font-size: 130%;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .head {
      font-size: 160%;
    }
  }

  #work {


    .work-h1 {
      margin-top: 20px;
    }

    .design-h2 {
      margin-top: 20px;
    }

    .develop-h2 {
      margin-top: 20px;
    }


  }

  #contact {
    p {
      font-size: 100%;
    }

    .social {
      display: none;
    }

    .copyright {
      p {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 590px) {
  #about {
    .desc {
      font-size: 120%;
    }

    .skills {
      p {
        font-size: 95%;
        padding: 5px 10px;
      }
    }
  }

  #work {
    p.design-desc {
      font-size: 100%;
    }

    p.develop-desc {
      font-size: 100%;
    }

  }

  #contact {
    p {
      font-size: 100%;
    }
  }
}

@media screen and (max-width: 500px) {

  body {
    font-size: 13px;
  }

  #about {

    .row:last-of-type {
      display: none;
    }
  }

  #contact {
    .btn-default {
      font-size: 140%;
      padding: 15px;
    }

  }


}
