@import 'font-family';
@import 'color';
@import 'mixin';
@import 'function';

body {
  font: $font-size $font-stack;
  color: $color-primary;
}

.container {
  width: 90%;
  margin: 50px auto;
}

p {
  line-height: 145%;
}

h1 {
  font-family: $font-stack;
  font-weight: 300;
  font-size: 350%;
}

h2 {
  font-family: $font-stack;
  font-weight: 300;
  font-size: 200%;
}
img {
  max-width: 100%;
  vertical-align: middle;
}

strong {
  font-weight: 700;
}

a {
  color: $color-primary;
  text-decoration: none;

  &:hover {
    color: $color-primary;
    text-decoration: none;
  }

}

button, a {

  transition: all .2s ease;
  a:focus {
    text-decoration: none;
    color: $color-primary;
  }

  a:hover {
    color: #2B4450;
    transition: all .5s ease;
  }

  a:visited, a:active {
    color: $color-primary;
  }
}

.btn-default {
  background-color: #4D606E;
  color: #D3D4D8;
  border-radius: 0px;
  padding: 10px 50px;
  font-size: 150%;

  &:hover, &:active, &:visited, &:focus {
    background-color: #2B4450;
    color: #D3D4D8;
  }
}

.onepage-pagination li a.active:before {
    width: 15px;
    height: 15px;
    background: #4d606e;
    margin-top: 0;
    border: none;
    left: 8px;
}

.onepage-pagination li a:before {
  width: 15px;
  height: 15px;
  background: transparent;
  margin-top: 0;
  border: 2px solid #4d606e;
  left: 8px;
}

.nav {

  a {
    margin-left: 50px;
    font-size: 130%;

    &:hover, &:focus {
      color: #2B4450;
      text-decoration: none;
    }
  }

  a:first-of-type {
    margin-left: 0;
  }

  a.active {
    color: #4D606E;
    border: 2px solid #4D606E;
    padding: 5px;
  }


}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
